@model bool?
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Panel/Views/Shared/_LoginView.cshtml";
}

<div class="white-panel">
    <div class="login-show">
        <h2>Administrator Login</h2>
        <form action="" method="post">
            @Html.AntiForgeryToken()
            <input type="text" name="UserName" placeholder="UserName">
            <input type="password" name="Password" placeholder="Password">

            <button style="background-color:rgb(189,148,104);" type="submit" value="Login">Login</button>

            @if (Model == false)
            {
                <p>@ViewBag.Message</p>
            }
            @*Burada input kısımları form içine aldım action actiona bişi demedim controllerda girilen email ve şifreyi control edip istediğim sayfaya yönlendireceğim ve methodunu belirttim inputların name ini verdim
                bu belirrtiğimiz name leri logincontrollerda parametre olarak alacak*@
        </form>
        <a href="/Panel/Login/ForgotPassword">Forgot password?</a>@*Burası yonlenmeli*@
    </div>
   
</div>
