
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Panel/Views/Shared/_MyView.cshtml";
}
<form method="post" enctype="multipart/form-data">
    @*artk dosya gonderebilir*@
    <div class="form-group">
        <input type="text" name="Country" placeholder="Country" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" name="Title" placeholder="Title" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" name="UserName" placeholder="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" name="Address" placeholder="Address" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" name="Content" placeholder="Content" class="form-control" />
    </div>
    <div class="form-control">
        <input type="date" name="Date" class=".datetimeinput"/>
    </div>
    <div class="form-control">
        <input type="datetime" name="StartTime" class="datetimeinput" />
    </div>
    <div class="form-control">
        <input type="datetime" name="FinishTime" class=".timeinput"  />
    </div>
    <div class="form-control">
        <input type="text" name="Remaining" />
    </div>
    <div class="form-control">
        <input type="file" name="ImgUrl" class="form-control"/>
    </div>
   
    <button>Save</button>
</form>
<script>
    $('.datetimeinput').datetimepicker();
 $('.timeinput').timepicker();
</script>


