
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Panel/Views/Shared/_MyView.cshtml";
}
<form method="post">
    <input type="text" name="Country" placeholder="Country" />
    <input type="text" name="Title" placeholder="Title" />
    <input type="text" name="UserName" placeholder="UserName" />
    <input type="text" name="Address" placeholder="Address" />
    <input type="text" name="Content" placeholder="Content" />
    <input type="date" name="Date" />
    <input type="datetime" name="StartTime"/>
    <input type="datetime" name="FinishTime" />
    <input type="text"  name="Remaining" />
    <input type="text" name="ImgUrl" placeholder="ImageURL" />
    <input type="checkbox" name="Permission"/>
    <button>Save</button>
</form>


