@using TurkishPlatform.Models
@model Activity

@{
    ViewBag.Title = "Create";
    //Layout= null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @section CSS{
       
    <style>
       .activitycreate #label {
            color: black;
            font-size: 21px;
            text-align: center;
            margin-left: 33%;
        }

       .activitycreate textarea {
            margin-left: 105%;
            height: 100px;
        }

       .activitycreate input {
            margin-left: 105%;
            height: 100px;
        }

       .activitycreate select {
            margin-left: 105%;
            height: 100px;
            text-align: center;
        }
       .activitycreate .ulke{
            text-align:center !important;
        }
    </style>    
    }
 


<div class="activitycreate">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary();
        </div>
    }

    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <fieldset>
            <!-- Form Name -->
            <h2 class="text-center" style="margin-top:50px"> <b> Etkinlik Oluştur </b></h2>
          
            <hr style="width:500px; color:black" />
            <!-- Text input-->
            <div class="form-group" style="margin-top:50px;">
                @*<label id="label" class="col-md-4 control-label text-center" for="event_name">Etkinlik İsmi</label><br /><br />*@
                <div class="col-md-4">
                    <input id="event_name" name="name" type="text" placeholder="Etkinlik İsmi" style="height:50px" class="form-control input-md text-center"/>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                @*<label id="label" class="col-md-4 control-label" for="textinput">Etkinlik Günü</label><br /><br />*@
                <div class="col-md-4">
                    <input id="textinput" name="date" type="text" onclick="this.type='date'" onblur="this.type=date" style="height:50px" placeholder="Etkinlik Günü" class="form-control input-md text-center">
                    @*<span class="help-block">help</span>*@
                </div>
            </div>

            <div class="form-group">
                @*<label id="label" class="col-md-4 control-label" for="textinput">Kontejyan</label>*@@*<br /><br /><br />*@
                <div class="col-md-4">
                    <input id="textinput" name="Kontejyan" type="number" style="height:50px" placeholder="Kontejyan" class="form-control input-md text-center">
                    @*<span class="help-block">help</span>*@
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                @*<label id="label" class="col-md-4 control-label" for="textinput">Başlama Saati</label><br /><br /><br />*@
                <div class="col-md-4">
                    <input id="textinput" name="StartTime" type="text" onclick="this.type='time'" onblur="this.type='text'" style="height:50px"  placeholder="Başlangıç Saati" class="form-control input-md text-center a">
                    @*<span class="help-block">help</span>*@
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                @*<label id="label" class="col-md-4 control-label" for="textinput">Bitiş Saati</label><br /><br /><br />*@
                <div class="col-md-4">
                    <input id="textinput" name="FinishTime" type="text" onclick="this.type='time'" onblur="this.type='text'" style="height:50px"  placeholder="Bitiş Saati" class="form-control input-md text-center">
                    @*<span class="help-block">help</span>*@
                </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
                @*<label id="label" class="col-md-4 control-label" for="textarea">Resim Seç</label>*@@*<br /><br /><br />*@
                <div class="col-md-4 text-center">
                    <input id="textinput" name="Image" type="file" placeholder="Resim" style="height:50px" class="form-control input-md text-center">
                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
                @*<label id="label" class="col-md-4 control-label" for="selectbasic">Ülke</label><br /><br /><br />*@
                <div class="col-md-4">
                    <select id="selectbasic" style="height:50px" name="CountryId" class="form-control  ulke">
                        <option class="text-center" value="1">Ülke Sec</option>
                        <option value="2">Option two</option>
                    </select>
                </div>
            </div>


            <!-- Textarea -->
            <div class="form-group">
                @*<label id="label" class="col-md-4 control-label" for="textarea">İçerik</label><br /><br /><br /><br />*@
                <div class="col-md-4">
                    <textarea class="form-control text-center" id="textarea" placeholder="İcerik" name="Content" style="height:150px"></textarea>
                </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
                @*<label id="label" class="col-md-4 control-label" for="textarea" >Adres</label><br /><br /><br />*@
                <div class="col-md-4">
                    <textarea class="form-control text-center" id="textarea" name="Address" style="height:150px" placeholder="Adres"></textarea>
                </div>
            </div> 
            <div class="form-group">
                <button class="btn btn-success" name="Insert" style="width:32%;margin-left:791px;">Kaydet</button>

            </div>

        </fieldset>

    </form>

</div> 

