@using TurkishPlatform.Models
@model RestaurantViewModel

@{
    ViewBag.Title = "Restaurans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<tite>Restaurans</tite>

<div class="restorant row">

</div>