@using TurkishPlatform.Models
@model RestaurantViewModel

@{
	ViewBag.Title = "Restaurans";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<tite>Restaurans</tite>
@section CSS{
	<img src="~/Content/Restaurant/img/favicon.png" />
	<link href="~/Content/Restaurant/css/fontawesome-all.min.css" rel="stylesheet" />
	<link href="~/Content/Restaurant/css/main.css" rel="stylesheet" />
	<link href="~/Content/Restaurant/css/normalize.css" rel="stylesheet" />
	<link href="~/Content/Restaurant/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="~/Content/Restaurant/css/owl.theme.default.min.css" rel="stylesheet" />
	<link href="~/Content/Restaurant/css/styleR.css" rel="stylesheet" />
}

<div class="restorant row">
	@section Footer{
		<!-- Instagram Start Here -->
		<section class="instagram-feed-wrap">
			<div class="instagram-feed-title"><a href="#"><i class="fab fa-instagram"></i>Follow On Instagram</a></div>
			<ul class="instagram-feed-figure">
				<li>
					<a href="single-recipe1.html"><img src="Content/Restaurant/img/social-figure/social-figure1.jpg" alt="Social"></a>
				</li>
				<li>
					<a href="single-recipe1.html"><img src="Content/Restaurant/img/social-figure/social-figure2.jpg" alt="Social"></a>
				</li>
				<li>
					<a href="single-recipe1.html"><img src="Content/Restaurant/img/social-figure/social-figure3.jpg" alt="Social"></a>
				</li>
				<li>
					<a href="single-recipe1.html"><img src="Content/Restaurant/img/social-figure/social-figure4.jpg" alt="Social"></a>
				</li>
				<li>
					<a href="single-recipe1.html"><img src="Content/Restaurant/img/social-figure/social-figure5.jpg" alt="Social"></a>
				</li>
				<li>
					<a href="single-recipe1.html"><img src="Content/Restaurant/img/social-figure/social-figure6.jpg" alt="Social"></a>
				</li>
				<li>
					<a href="single-recipe1.html"><img src="Content/Restaurant/img/social-figure/social-figure7.jpg" alt="Social"></a>
				</li>
				<li>
					<a href="single-recipe1.html"><img src="Content/Restaurant/img/social-figure/social-figure8.jpg" alt="Social"></a>
				</li>
			</ul>
		</section>
		<!-- Instagram End Here -->
	}
</div>