
@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="span4 well" style="padding-bottom:0">
            <form accept-charset="UTF-8" action="" method="POST">
                <textarea class="span4" id="new_message" name="new_message"
                          placeholder="Type in your message" rows="5"></textarea>
                <h6 class="pull-right">320 characters remaining</h6>
                <button class="btn btn-info" type="submit">Post New Message</button>
            </form>
        </div>
    </div>
</div>