@using TurkishPlatform.Models
@{
    ViewBag.Title = "CommentTopic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sidebarservices {
        /*position: absolute; gerek yok*/
        width: 100%;
        /*float: left; satırda tek*/
        border: 1px solid blue;
    }

        .sidebarservices .head {
            text-align: center;
            font-size: 15pt;
            background-color: #6A2C36;
            color: white;
        }

    .head:hover {
        background: gray !important;
        cursor: initial;
    }

    .sidebarservices li {
        list-style: none;
        background-color: #581F27;
        margin: 5px 10px;
        text-align: left;
        padding: 10px 0 10px 20px;
        border-radius: 5px 5px;
        cursor: pointer;
    }

        .sidebarservices li a {
            text-decoration: none;
            color: black;
            font-family: Century Gothic, sans-serif;
            background-color: #581F27;
        }

</style>

<ul class="sidebarservices">
    <li class="head">List of Services</li>
    @foreach (ForumCommentTopic item in ViewBag.CommentTitle)
    {
        <li><a style="display:block;" href="/Forum/Comment/@item.TopicId">@item.TopicTitle</a></li>//display block yaptık kapladı içini direk içine basınca geliyor
    }


</ul>


