

@using TurkishPlatform.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@import url('https://fonts.googleapis.com/css?family=Pacifico');
    @@import url('https://fonts.googleapis.com/css?family=Lato');
    @@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
    @@import url('https://fonts.googleapis.com/css?family=Zeyada');

    *, :after, :before {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .wrapper {
        margin: 0 -5px;
        text-align: center;
        width: 730px;
    }

    .bubble {
        margin: 0 auto;
        width: 80px;
        text-align: center;
        background-color: rgba(229,229,229,1);
        padding: 10px;
        display: inline-block;
        vertical-align: top;
        margin-right: -1px;
        position: relative;
        box-sizing: content-box;
    }

        .bubble .details {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s linear 0.5s,opacity 0.5s linear;
            width: 80px;
            margin-bottom: 10px;
            margin-top: -40px;
            background: rgba(255,255,255,.2);
            font: 10px 'Roboto Condensed';
            text-transform: uppercase;
            border-radius: 0 0 5px 5px;
            -webkit-transition: all 500ms ease-in-out;
            -moz-transition: all 500ms ease-in-out;
            -ms-transition: all 500ms ease-in-out;
            -o-transition: all 500ms ease-in-out;
            transition: all 500ms ease-in-out;
        }

        .bubble:hover .details {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
            margin-top: -10px;
            -webkit-transition: all 500ms ease-in-out;
            -moz-transition: all 500ms ease-in-out;
            -ms-transition: all 500ms ease-in-out;
            -o-transition: all 500ms ease-in-out;
            transition: all 500ms ease-in-out;
        }

    .filter-me {
        filter: blur(1px) grayscale(100%);
        -webkit-filter: blur(1px) grayscale(100%);
        -webkit-transition: all 500ms ease-in;
        -moz-transition: all 500ms ease-in;
        -ms-transition: all 500ms ease-in;
        -o-transition: all 500ms ease-in;
        transition: all 500ms ease-in;
    }

        .filter-me:hover {
            filter: blur(0px) grayscale(20%);
            -webkit-filter: blur(0px) grayscale(20%);
            -webkit-transition: all 500ms ease-in;
            -moz-transition: all 500ms ease-in;
            -ms-transition: all 500ms ease-in;
            -o-transition: all 500ms ease-in;
            transition: all 500ms ease-in;
        }

        .filter-me img {
            display: inline-block;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            width: 39px;
            border: 0;
            -webkit-transition: all 500ms ease-in;
            -moz-transition: all 500ms ease-in;
            -ms-transition: all 500ms ease-in;
            -o-transition: all 500ms ease-in;
            transition: all 500ms ease-in;
        }

            .filter-me img:first-child {
                margin-right: -5px;
                transform: rotate(10deg);
            }

            .filter-me img:last-child {
                transform: rotate(-7deg);
            }

        .filter-me:hover img:first-child {
            margin-right: -5px;
            transform: rotate(-10deg);
        }

        .filter-me:hover img:last-child {
            transform: rotate(7deg);
        }

        .filter-me:hover img {
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -webkit-transition: all 500ms ease-in;
            -moz-transition: all 500ms ease-in;
            -ms-transition: all 500ms ease-in;
            -o-transition: all 500ms ease-in;
            transition: all 500ms ease-in;
        }

    /* MAISONS - font + mep */
    .house {
        font-family: Permanent Marker;
        font-size: 18px;
        text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
        border-bottom: 1px solid;
        margin-bottom: 5px;
    }

    /* CLASSEMENT */
    .first {
        height: 220px;
    }

    .second {
        height: 200px;
    }

    .third {
        height: 180px;
    }

    .fourth {
        height: 160px;
    }

    .fifth {
        height: 140px;
    }

    .sixth {
        height: 120px;
    }

    .seventh {
        height: 100px;
    }

    /* COULEURS MAISONS -- ILH */
    .cabot {
        color: #CC72BD;
    }

    .dunster {
        color: #B39B00;
    }

    .eliot {
        color: #509EED;
    }

    .lowell {
        color: #965BEF;
    }

    .mather {
        color: #76AD23;
    }

    .quincy {
        color: #ED7B34;
    }

    .winthrop {
        color: #C92724;
    }

    /* BACKGROUND MAISONS */
    .bubble.cabot {
        background-color: rgba(204, 114, 189,0.3);
    }

    .bubble.dunster {
        background-color: rgba(176, 155, 0,0.3);
    }

    .bubble.eliot {
        background-color: rgba(80, 158, 237,0.3);
    }

    .bubble.lowell {
        background-color: rgba(150, 91, 239,0.3);
    }

    .bubble.mather {
        background-color: rgba(118, 173, 35,0.3);
    }

    .bubble.quincy {
        background-color: rgba(237, 123, 52, 0.3);
    }

    .bubble.winthrop {
        background-color: rgba(201, 39, 36, 0.3);
    }

    .arrow_bottom {
        box-sizing: border-box;
        border-top: 20px solid;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        position: absolute;
        bottom: -20px;
        left: 0px;
        opacity: 0.3;
    }

    /* POINTS */
    .points {
        font-family: 'Lato';
        font-size: 14px;
        opacity: 0.5;
        color: #222;
    }
    /*    --------------------------------------------------
    :: General
    -------------------------------------------------- */
    body {
        font-family: 'Open Sans', sans-serif;
        color: #353535;
    }

    .content h1 {
        text-align: center;
    }

    .content .content-footer p {
        color: #6d6d6d;
        font-size: 12px;
        text-align: center;
    }

        .content .content-footer p a {
            color: inherit;
            font-weight: bold;
        }

    /*	--------------------------------------------------
    :: Table Filter
    -------------------------------------------------- */
    .panel {
        border: 1px solid #ddd;
        background-color: #fcfcfc;
    }

        .panel .btn-group {
            margin: 15px 0 30px;
        }

            .panel .btn-group .btn {
                transition: background-color .3s ease;
            }

    .table-filter {
        background-color: #fff;
        border-bottom: 1px solid #eee;
    }

        .table-filter tbody tr:hover {
            cursor: pointer;
            background-color: #eee;
        }

        .table-filter tbody tr td {
            padding: 10px;
            vertical-align: middle;
            border-top-color: #eee;
        }

        .table-filter tbody tr.selected td {
            background-color: #eee;
        }

        .table-filter tr td:first-child {
            width: 38px;
        }

        .table-filter tr td:nth-child(2) {
            width: 35px;
        }

    .ckbox {
        position: relative;
    }

        .ckbox input[type="checkbox"] {
            opacity: 0;
        }

        .ckbox label {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .ckbox label:before {
                content: '';
                top: 1px;
                left: 0;
                width: 18px;
                height: 18px;
                display: block;
                position: absolute;
                border-radius: 2px;
                border: 1px solid #bbb;
                background-color: #fff;
            }

        .ckbox input[type="checkbox"]:checked + label:before {
            border-color: #2BBCDE;
            background-color: #2BBCDE;
        }

        .ckbox input[type="checkbox"]:checked + label:after {
            top: 3px;
            left: 3.5px;
            content: '\e013';
            color: #fff;
            font-size: 11px;
            font-family: 'Glyphicons Halflings';
            position: absolute;
        }

    .table-filter .star {
        color: #ccc;
        text-align: center;
        display: block;
    }

        .table-filter .star.star-checked {
            color: #F0AD4E;
        }

        .table-filter .star:hover {
            color: #ccc;
        }

        .table-filter .star.star-checked:hover {
            color: #F0AD4E;
        }

    .table-filter .media-photo {
        width: 35px;
    }

    .table-filter .media-body {
        display: block;
        /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
    }

    .table-filter .media-meta {
        font-size: 11px;
        color: #999;
    }

    .table-filter .media .title {
        color: #2BBCDE;
        font-size: 14px;
        font-weight: bold;
        line-height: normal;
        margin: 0;
    }

        .table-filter .media .title span {
            font-size: .8em;
            margin-right: 20px;
        }

            .table-filter .media .title span.pagado {
                color: #5cb85c;
            }

            .table-filter .media .title span.pendiente {
                color: #f0ad4e;
            }

            .table-filter .media .title span.cancelado {
                color: #d9534f;
            }

    .table-filter .media .summary {
        font-size: 14px;
    }
</style>
<div class="row" style="width:500px; margin:auto">
    @*Buraya kategoriler eklenecek*@
    <div class="wrapper">
        @foreach (ForumCommentCategory item in ViewBag.CategoryList)
        {

            <div class="bubble cabot third del" rel="@item.CategoryId">
                <div class="details">
                    @item.Explain<br>
                    flood + #FFF
                </div>
                <div class="filter-me">
                    <img src="~/Content/images/ForumImage/hastane1.jpg" />@*//burayı kaydederken seçmemiz gerekecek şimdilik koydum resim*@
                </div>
                <div class="house cabot">@item.CategoryName</div>
                <span class="points">@item.ForumTopicTitles.Count() Tane Konu</span>
                <div class="arrow_bottom"></div>
            </div>
        }

        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-xs-9">
        <br /><br />
        <div class="Topic" style="color:khaki"></div>


        <div class="container">
            <div class="row">

                <section class="content">
                    <h1>Table Filter</h1>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="pull-right">
                                    <div class="btn-group">
                                       
                                        <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Pendiente</button>
                                        
                                    </div>
                                </div>
                                <div class="table-container">
                                    <table class="table table-filter">
                                        <tbody>
                                            <tr data-status="pagado">
                                                <td>
                                                  
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="star">
                                                        <i class="far fa-heart Bos"></i>
                                                       
                                                    </a>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <a href="#" class="pull-left">
                                                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                                        </a>
                                                        <div class="media-body">
                                                            <span class="media-meta pull-right">Febrero 13, 2016</span>
                                                            <h4 class="title">
                                                                Lorem Impsum
                                                             
                                                            </h4>
                                                            <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="content-footer">
                            <p>
                                Page © - 2016 <br>
                                Powered By <a href="https://www.facebook.com/tavo.qiqe.lucero" target="_blank">TavoQiqe</a>
                            </p>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div class="col-xs-3 Title">

        </div>
    </div>
<script>
    $(document).ready(function () {

        $(".del").click(function () {

            var btn = $(this);//bu butonun id sini alalım
            var ID = btn.attr("rel");//id bize rel attr den gelecek
            $.ajax({
                //nereye istek atacağız?
                url: "/Forum/Topics/" + ID,
                method: "GET",//BUYUK HARFLE YAZMALIYIM AJAXIM POST METODUYLA GİDECEK
                success: function (TitleList) {
                    for (var i = 0; i < TitleList.length; i++) {

                        $('.Title').append('<h2 rel="' + TitleList[i].TitleId + '">' + TitleList[i].Text + '</h2>');
                    }

                }//donus aldıgımızda napacaz? biz diğer taraftan true false dndurmuştuk ondan bahsetmek için temsili isim verdik fonksiyon parametresine
            });
        });//del classına sahip olan herhangiirşeye tıklandıgında şu işi yap

    });//readin
    $(document).on("click", ".Title h2", function () {
        var btn = $(this);
        var ID = btn.attr("rel");
        $.ajax({
            url: "/Forum/Title/" + ID,
            method: "GET",
            success: function (TopicList) {
                for (var i = 0; i < TopicList.length; i++) {


                    $('.Topic').append('<a style="display:inline-block" href=Forum/Comment?ID="' + TopicList[i].TopicId + '">' + TopicList[i].TopicTitle + '</a>');
                    $('.Topic').append('<br/><br/>')


                }
            }
        });

    });
    $(document).ready(function () {

        $('.star').on('click', function () {
            $(this).toggleClass('star-checked');
          
        });
        $('.star').on('click', function () {
            $(this).append("<i class='fas fa-heart dolu'></i>");
            $(this).find('.Bos').remove();
        });
        $('.star').on('click', function () {
            if ($('.star').find('.dolu').length != 0) {//hiçbir elemanı yoksa
                $(this).append("<i class='far fa - heart Bos'></i>");
                $(this).find('.dolu').remove();
            }
          
        });

        $('.ckbox label').on('click', function () {
            $(this).parents('tr').toggleClass('selected');
        });

        $('.btn-filter').on('click', function () {
            var $target = $(this).data('target');
            if ($target != 'all') {
                $('.table tr').css('display', 'none');
                $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
            } else {
                $('.table tr').css('display', 'none').fadeIn('slow');
            }
        });

    });

</script>


