@using TurkishPlatform.Models
@{
    ViewBag.Title = "TopicTitle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container, .container-fluid {
        margin-top: 15px;
    }

    tr > td.media-left {
        width: 72px !important;
        height: 30px;
        padding: 0 10px;
        background-color: rgb(189,148,104);
    }

    .table .media .media-body > span {
        color: rgb(189,148,104);
    }

    .table .media .media-body span strong {
        color: rgb(189,148,104);
    }
</style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="tableReport" class="table table-hover table-striped ">
                    <tbody>
                        @foreach (ForumTopicTitle item in ViewBag.TopicTitleList)
    {
                     
                        <tr class="media" id="carga_30" data-id="30">
                          
                            <td class="media-body">
                                <a style="text-decoration:none;" href="/Forum/CommentTopic/@item.TitleId" >
                                    <h4 class="media-heading font-yellow text-bold hidden-xs" style="color:black;">@item.Text</h4>
                                    <h4 class="media-heading font-yellow text-bold hidden-sm hidden-md hidden-lg hidden-xl"></h4>
                                    <span style="text-decoration:none; color:black;" class="hidden-xs"><strong style="margin-left:555px;">Başlık sayısı:</strong>@item.CommentTopics.Count();</span>
                                </a>
                            </td>
                       
                        </tr>
                      
}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<script>
    jQuery(document).ready(function () {
        console.log('Document loaded...');

        $('body').on('click', '.container-fluid table.table tr.media', function (event) {
            console.log('row clicked... ' + $(this).attr('data-id'));
            $(this).addClass('success');
        });
    });

</script>
