@using TurkishPlatform.Models
<form method="post">
    <div class="register-show">
        <h2>REGISTER</h2>@*/image seçilecek chexbox konulacak*@
        <input placeholder="UserName" />
        <input placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        <label>Femail</label>   <input type="radio" name="Gender" value="0" />
        <label>Maile</label> <input type="radio" name="Gender" value="1" />
        <input placeholder="Image" />
        <select value="CountryNo">
            @foreach (Country item in ViewBag.Countries)
            {
                <option value="@item.CountryId">@item.CountryName</option>
            }
        </select>
        <button>Register</button>
    </div>
</form>
