@model bool?
@{

    ViewBag.Title = "View";
    Layout = "~/Areas/Panel/Views/Shared/_LoginView.cshtml";
}
<div class="white-panel">
    <div class="login-show">
        <h2>Reset Password</h2>
        <p>Please enter your email adress and we'll send you a link to reset your password</p>
        <form action="" method="post">
            @Html.AntiForgeryToken()
            <input type="text" name="TextEmail" placeholder="Email Adress">
            <button type="submit" value="Reset">Reset Password</button>
            <br />
            <a href="/User/Index">Back to login</a>
            @if (Model == true)
            {
                <p style="text-align:center;" class="alert alert-success">Mail Sent!</p>
            }
        </form>
    </div>
    <div class="register-show">
        <h2>REGISTER</h2>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        <input type="button" value="Register">
    </div>
</div>

