@model bool?
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Panel/Views/Shared/_LoginView.cshtml";
}

<div class="white-panel">
    <div class="login-show">
        <h2>Renewal Password</h2>
        <form action="" method="post">
            @Html.AntiForgeryToken()
            <input type="text" name="NewPassword" placeholder="NewPassword">
            <input type="text" name="NewPasswordRepeat" placeholder="Password Repeat">
            <button type="submit" value="SaveChanges">Save Changes</button>
            @if (Model == true)
            {
                <p class="alert alert-success">Success!</p>
                <a href="/User/Index/">Back to Login</a>
            }
            @if (Model == false)
            {
                <p class="alert alert-warning">@ViewBag.ControlPassword</p>
            }

        </form>
    </div>
    <div class="register-show">
        <h2>REGISTER</h2>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        <input type="button" value="Register">
    </div>
</div>


