@using TurkishPlatform.Models
@model Country
@{
    ViewBag.Title = "TourismTravelDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TourismTravelDetails</h2>


@section CSS{
    <img src="~/Content/Restaurant/img/favicon.png" />
    <link href="~/Content/Restaurant/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/css/main.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/Restaurant/css/styleR.css" rel="stylesheet" />
    <script src="~/Content/Restaurant/js/jquery-3.3.1.min.js"></script>
    <style>
        .resim {
            width: 65% !important;
        }

            .resim img {
                height: 100% !important;
            }
    </style>
}
<div class="container">
    <div class="row">
        <div class="resim"></div>
        <div > </div>

    </div>

</div>

<div>
    @section Footer{
        <!-- Instagram Start Here -->
        <section class="instagram-feed-wrap">
            <div class="instagram-feed-title"><a href="#"><i class="fab fa-instagram"></i>Follow On Instagram</a></div>
            <ul class="instagram-feed-figure">
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/1.jpg" alt="Social" />
                    </a>
                </li>
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/2.jpg" alt="Social" />
                    </a>
                </li>
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/3.jpg" alt="Social" />
                    </a>
                </li>

                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/4.jpg" alt="Social" />
                    </a>
                </li>
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/5.jpg" alt="Social" />
                    </a>
                </li>
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/6.jpg" alt="Social" />
                    </a>
                </li>
                <li>
                    <a href="single-recipe1.html">
                        <img src="~/Uploads/Tourism/7.jpg" alt="Social" />
                    </a>
                </li>
            </ul>
        </section>
        <!-- Instagram End Here -->
    }
</div>


